html.homepage-featured-topics {
  #banner {
    margin-bottom: 1.5em;
  }
}
.featured-topics {
  display: flex;
  flex-wrap: wrap;
  .featured-topic {
    padding-bottom: 2em;
    a {
      font-weight: 400;
      color: var(--primary);
    }
    &-title {
      padding-bottom: 1.5em;
    }
    &-excerpt {
      @include line-clamp(2);
      color: var(--primary-high);
      margin-bottom: 1em;
    }
    .discourse-tag {
      background-color: #fff;
      padding: 0;
      font-size: 0.9em;
    }
    .badge-category-bg {
      width: 5px;
    }
    .badge-category-parent-bg {
      width: 5px;
    }
    &-header {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-date {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .category-name {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-bottom: 1em;
  }
}
